@{
    ViewData["Title"] = "AddProduct";
}

<form id="productForm">
    <div class="form-group">
        <label for="productName">Product name</label>
        <input type="text" class="form-control" id="pdtName" aria-placeholder="Enter Product name">

    </div>
    <div class="form-group">
        <label for="Description">Description</label>
        <input type="text" class="form-control" id="pdtDescription" placeholder="Description">
    </div>

    <div class="form-group">
        <label for="Price">Price</label>
        <input type="number" class="form-control" id="pdtPrice" placeholder="Price">
    </div>

    <div class="form-group">
        <label for="StockQuantity">Quantity</label>
        <input type="number" class="form-control" id="pdtQuantity" placeholder="Quantity">
    </div>

    <div class="form-group">
        <label for="ImgUrl">Image Url</label>
        <input type="text" class="form-control" id="pdtImg" placeholder="Image url">
    </div>

    <div class="form-group">
        <label for="Category">Category</label>
        <select id="categoryIds" class="form-control-lg" multiple>
            <option value="">--Select Category--</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>


@section Scripts {
    <script>

        $.get('https://localhost:7142/api/Category', function(categories){
            const dropdown = $('#categoryIds');
            dropdown.empty();
            dropdown.append($('<option></option>').val('').text('-- Select Category --'));

            categories.forEach(category=>{
                dropdown.append($('<option></option>').
                val(category.id).text(category.name));
            });
        });
        
        
        $('#productForm').submit(function(e){
            e.preventDefault();

            const  productData = {
                name: $('#pdtName').val(),
                description : $('#pdtDescription').val(),
                price : parseFloat ($('#pdtPrice').val()),
                stockQuantity: parseInt($('#pdtQuantity').val()),
                imageUrl: $('#pdtImg').val(),
                categoryIds:  $('#categoryIds').val()
            };

            $.ajax({
                url : 'https://localhost:7142/api/Products',
                method : 'POST',
                contentType: 'application/json',
                data : JSON.stringify(productData),
                success: function(){
                    alert("Product add successfully");

                },
                error: function(xhr, status, error){
                    console.error("Error adding category:", status, error);
                    alert("Error adding category");
                }

            });
        });
    </script>
}